@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  src: local('Playfair Display'),
    url('./assets/fonts/variable/PlayfairDisplay-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  src: local('Playfair Display'),
  url('./assets/fonts/variable/PlayfairDisplay-Italic-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat-Italic.ttf') format("truetype-variations");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat-Regular.ttf') format("truetype-variations");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat-Thin.ttf') format("truetype-variations");
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat-ThinItalic.ttf') format("truetype-variations");
  font-weight: 200;
}

body {
  background-image: url('assets/images/whiteWaves.png'), url('assets/images/SkyGradient.png');
  background-repeat: repeat, repeat-x;
  background-size: auto 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-blend-mode:overlay, normal;
}

.app {
  margin:0;
  background-color: #e1e1e1;
  font-size: 12pt;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
